/* * {
    margin: 0;
    padding: 0;
} */

.nav {
    background-color: red;
    height: 8rem;
    width: 100%;
}

.main {
    background-color: bisque;
    height: 38rem;
}

.child1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.child2 {
    background-color: aqua;
    height: 80%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child2A {
    background-color: blue;
    height: 83%;
    width: 33%;
}

.child2B {
    background-color: cadetblue;
    height: 83%;
    width: 65%;
    position: relative;
}

.childx {
    
    background-color: yellow;
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 0;
    left: 0;
}

.childy {
    background-color: yellowgreen;
    height: 7rem;
    width: 7rem;
    position: absolute;
    right: 0;
    bottom: 0;
}
